@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
.loading-container {
  width: 50px;
  height: 50px;
  margin-left: auto;
  position: relative;
}

.loader {
  position: relative;
  margin: 0 auto;
  width: 40px;
}
.loader:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes color {
  100%, 0% {
    stroke: #ccd6f6;
  }
  40% {
    stroke: #64ffda;
  }
  66% {
    stroke: blue;
  }
  80%, 90% {
    stroke: #8892b0;
  }
}
.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #101e33;
}

main {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  margin-top: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 88vh;
}

.about-me, .Projects, .contact, .landing {
  padding-top: 2rem;
}

@media screen and (max-width: 1024px) {
  .about-me, .Projects, .contact, .landing {
    padding: 2rem 1rem;
  }
}
@media (max-width: 668px) {
  .about-me, .Projects, .contact, .landing {
    padding: 0 1rem;
    padding-top: 3rem;
  }
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
  box-shadow: 0px 0px 25px -9px rgba(0, 0, 0, 0.6196078431);
  background-color: #101e33;
  z-index: 1000;
  min-height: 12vh;
}
header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  margin: auto;
}
header .header-container h1 {
  color: #64ffda;
  font-family: "Grape Nuts", cursive;
  padding: 0.8rem 0;
  cursor: pointer;
  font-size: 1.8rem;
}
header .header-container .nav {
  display: flex;
}
header .header-container .nav ul {
  list-style: none;
  display: flex;
}
header .header-container .nav ul li {
  margin-right: 1.7rem;
  color: #cad8ff;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0.7rem;
  font-family: "Zen Loop", cursive;
  font-size: 1.5rem;
}
header .header-container .nav ul li a {
  font-family: "Zen Loop", cursive;
  font-size: 1.5rem;
  transition: all 0.3s ease;
  text-decoration: none;
  color: #cad8ff;
}
header .header-container .nav ul li a:hover {
  color: #64ffda;
}
header .header-container .nav ul li a.active {
  color: #64ffda;
}
header .header-container .nav ul li span {
  color: #64ffda;
}
header .header-container .nav ul li:hover {
  color: #64ffda;
}

@media (max-width: 668px) {
  header .header-container .ham {
    width: 20px;
    height: 14px;
    cursor: pointer;
    position: relative;
    z-index: 100;
  }
  header .header-container .ham span {
    background-color: #64ffda;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    transition: 0.3s all ease;
  }
  header .header-container .ham span.span-1 {
    top: 0;
  }
  header .header-container .ham span.span-2 {
    top: 6px;
  }
  header .header-container .ham span.span-3 {
    top: 12px;
  }
  header .header-container .ham.active span {
    background-color: #64ffda;
    top: 6px;
  }
  header .header-container .ham.active .span-1 {
    transform: rotate(45deg);
  }
  header .header-container .ham.active .span-2 {
    opacity: 0;
  }
  header .header-container .ham.active .span-3 {
    transform: rotate(-45deg);
  }
  header .header-container .nav {
    display: none;
  }
  header .header-container .nav-responsive {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    justify-content: flex-end;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  header .header-container .nav-responsive ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem 0;
    margin: 0;
    width: 70%;
    gap: 1rem;
    background-color: #101e33;
    animation: slide-from-left 0.6s linear;
  }
  header .header-container .nav-responsive ul.remove-animation {
    animation: slide-to-rigt 0.6s linear;
  }
  header .header-container .nav-responsive ul li {
    margin: 0;
  }
}
@keyframes slide-from-left {
  0% {
    transform: translateX(120%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slide-to-rigt {
  0% {
    transform: translateX(0%);
    opacity: 0;
  }
  100% {
    transform: translateX(120%);
    opacity: 1;
  }
}
.landing {
  margin: auto;
  font-family: "Roboto", sans-serif;
  padding-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.landing h1 {
  font-size: 1.2rem;
  color: #64ffda;
  margin: 1rem 0;
}
.landing h2 {
  font-size: 3rem;
  color: #ccd6f6;
  margin: 1rem 0;
}
.landing h3 {
  font-size: 1.7rem;
  color: #8892b0;
  font-weight: 400;
  line-height: 3rem;
  text-transform: capitalize;
  width: 80%;
}
.landing a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #64ffda;
  border: 1px solid #64ffda;
  padding: 1rem 2rem;
  display: block;
  margin: 2rem 0;
  transition: 0.7s all ease;
  border-radius: 0.25rem;
  cursor: pointer;
  width: -moz-max-content;
  width: max-content;
  animation: opacity-fade 1s;
}
.landing a:hover {
  background-color: #133040;
}

@media screen and (max-width: 1024px) {
  .landing {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .landing h2 {
    font-size: 2rem;
  }
  .landing h3 {
    width: 90%;
    font-size: 1.5rem;
  }
}
@media (max-width: 668px) {
  .landing {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0.6rem;
    padding-top: 3rem;
    max-width: 450px;
  }
  .landing h3 {
    width: 100%;
    text-align: center;
    font-size: 1rem;
  }
}
@keyframes opacity-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.about-me {
  width: 100%;
  margin: auto;
  font-family: "Roboto", sans-serif;
}
.about-me h1 {
  color: #ccd6f6;
  margin: 1rem 0;
  font-size: 1.7rem;
}
.about-me h1 span {
  color: #64ffda;
}
.about-me p {
  font-size: 1.3rem;
  color: #8892b0;
  line-height: 1.9rem;
  margin: 2rem 0;
  margin-top: 1rem;
}
.about-me h2 {
  font-size: 1.3rem;
  color: #8892b0;
}
.about-me ul {
  list-style: none;
  color: #8892b0;
  margin: 1rem 0;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
.about-me ul li {
  position: relative;
  width: 25%;
}
.about-me ul li::before {
  content: "▹";
  color: #64ffda;
  margin-right: 0.4rem;
}

@media screen and (max-width: 1024px) {
  .about-me ul {
    width: 100%;
  }
}
@media (max-width: 668px) {
  .about-me ul {
    -moz-column-gap: 0;
         column-gap: 0;
    width: 100%;
  }
  .about-me ul li {
    position: relative;
    width: 50%;
    font-size: 14px;
  }
  .about-me ul li::before {
    content: "▹";
    color: #64ffda;
    margin-right: 0.4rem;
  }
}
.Projects {
  width: 100%;
  margin: auto;
  font-family: "Roboto", sans-serif;
}
.Projects h1 {
  font-size: 1.7rem;
  margin: 1rem 0;
  color: #ccd6f6;
}
.Projects h1 span {
  color: #64ffda;
}
.Projects .container {
  display: flex;
  flex-direction: column;
}
.Projects .container .project-container:nth-child(even) {
  flex-direction: row-reverse;
}
.Projects .container .project-container {
  display: flex;
  gap: 2rem;
  border-bottom: 1px solid rgba(136, 146, 176, 0.1882352941);
  padding: 4rem 0;
  align-items: center;
}
.Projects .container .project-container .img-container {
  width: 50%;
  height: 100%;
}
.Projects .container .project-container .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 0.5rem;
}
.Projects .container .project-container .project-info {
  width: 50%;
  box-shadow: 0px 0px 15px 0px #112240;
  border-radius: 1rem;
  padding: 2rem;
  background-color: #112240;
}
.Projects .container .project-container .project-info h2 {
  font-size: 1.3rem;
  color: #8892b0;
  margin-bottom: 1rem;
}
.Projects .container .project-container .project-info p {
  color: #8892b0;
  margin-bottom: 1rem;
  line-height: 1.7rem;
}
.Projects .container .project-container .project-info button {
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  color: #64ffda;
  background-color: transparent;
  border: none;
  font-size: 0.8125rem;
  padding: 0.75rem;
  -webkit-padding-start: 2rem;
  padding-inline-start: 2rem;
  -webkit-padding-end: 2rem;
  padding-inline-end: 2rem;
  font-weight: 700;
  border: 1px solid #64ffda;
  display: block;
  margin-left: auto;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 0.4s ease all;
}
.Projects .container .project-container .project-info button:hover {
  background-color: rgba(100, 255, 218, 0.0705882353);
}

@media screen and (max-width: 1024px) {
  .Projects .container .project-container:nth-child(even) {
    flex-direction: column;
  }
  .Projects .container .project-container {
    flex-direction: column;
    gap: 1rem;
  }
  .Projects .container .project-container .img-container {
    width: 100%;
    max-width: 900px;
  }
  .Projects .container .project-container .project-info {
    width: 100%;
    max-width: 900px;
  }
}
.project {
  min-height: 88vh;
  padding: 3rem 0;
  font-family: "Roboto", sans-serif;
}
.project h1 {
  color: #ccd6f6;
  font-size: 1.7rem;
  margin: 2rem 0;
}
.project .info, .project .note {
  margin: 2rem 0;
  border-bottom: 1px solid rgba(136, 146, 176, 0.1882352941);
  padding-bottom: 2rem;
}
.project .info h3, .project .note h3 {
  color: #ccd6f6;
  font-size: 1.7rem;
  margin: 1rem 0;
}
.project .info p, .project .info h4, .project .note p, .project .note h4 {
  color: #8892b0;
  font-size: 1.2rem;
  line-height: 1.9rem;
}
.project .info a, .project .note a {
  color: #64ffda;
}
.project .info ul, .project .note ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.project .info ul li, .project .note ul li {
  color: #8892b0;
  text-transform: capitalize;
  position: relative;
}
.project .info ul li::before, .project .note ul li::before {
  content: "▹";
  color: #64ffda;
  margin-right: 0.4rem;
}
.project .note ul li {
  text-transform: none;
  color: #64ffda;
}
.project .code-repo ul {
  gap: 1rem;
}
.project .code-repo ul li {
  display: flex;
  align-items: center;
}
.project .code-repo ul li span {
  width: 100px;
}
.project .code-repo ul li img {
  width: 20px;
  height: 20px;
}
.project .link a {
  display: block;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 769px;
  margin: auto;
  border-radius: 0.5rem;
  background-color: #112240;
  padding-bottom: 30px;
  margin-bottom: 2rem;
}
.slider-container .img-prev {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.slider-container .img-prev img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 0.5rem;
}
.slider-container .img-prev .slick-dots li button::before {
  color: #ccd6f6;
  font-size: 10px;
}
.slider-container .img-prev .slick-dots li.slick-active button::before {
  color: #64ffda;
}

@media screen and (max-width: 1024px) {
  .project {
    padding: 3rem 1.5rem;
  }
  .project .info p, .project .info h4, .project .note p, .project .note h4 {
    font-size: 1.1rem;
  }
  .slider-container {
    width: 90%;
  }
}
@media (max-width: 668px) {
  .project {
    padding: 3rem 0.7rem;
    width: 100%;
  }
  .project .info p, .project .info h4, .project .note p, .project .note h4 {
    font-size: 1.1rem;
  }
  .slider-container {
    width: 90%;
  }
  .slider-container .slick-next, .slider-container .slick-prev {
    display: none;
  }
  .slider-container .slick-next::before, .slider-container .slick-prev::before {
    display: none;
  }
}
.contact {
  min-height: 88vh;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.contact .main-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.contact .main-container h1 {
  color: #ccd6f6;
  margin: 1rem 0;
  font-size: 1.7rem;
  width: 100%;
  text-align: start;
}
.contact .main-container h1 span {
  color: #64ffda;
}
.contact .main-container h2 {
  font-size: 1.5rem;
  color: #64ffda;
  width: 100%;
  text-align: start;
  margin-bottom: 1rem;
}
.contact .main-container .seconed-container {
  width: 100%;
  display: flex;
  padding: 2rem 2rem 0 2rem;
  background-color: #112240;
  box-shadow: 0px 0px 15px 0px #112240;
  border-radius: 0.5rem;
  flex-wrap: wrap;
}
.contact .main-container .seconed-container h3 {
  color: #ccd6f6;
  width: 100%;
  text-align: start;
  font-size: 1.5rem;
  border-bottom: 1px solid rgba(100, 255, 218, 0.2117647059);
  padding-bottom: 1rem;
}
.contact .main-container .seconed-container .contact-container {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 300px;
  min-width: 250px;
  border-right: 1px solid rgba(100, 255, 218, 0.2117647059);
  padding-top: 2rem;
}
.contact .main-container .seconed-container .contact-container ul {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  list-style: none;
  align-items: start;
}
.contact .main-container .seconed-container .contact-container ul li {
  display: flex;
  gap: 0.4rem;
  display: flex;
  justify-content: center;
}
.contact .main-container .seconed-container .contact-container ul li img {
  width: 20px;
  height: 20px;
}
.contact .main-container .seconed-container .contact-container ul li a {
  color: #64ffda;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}
.contact .main-container .seconed-container form {
  width: calc(100% - 316px);
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
  padding-bottom: 2rem;
}
.contact .main-container .seconed-container form .name, .contact .main-container .seconed-container form .email {
  width: calc(50% - 8px);
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.contact .main-container .seconed-container form .name input, .contact .main-container .seconed-container form .email input {
  padding: 0.5rem;
  border: 1px solid rgba(100, 255, 218, 0.2117647059);
  background-color: #101e33;
  color: #8892b0;
  font-size: 1.2rem;
  border-radius: 0.25rem;
}
.contact .main-container .seconed-container form .name input:focus, .contact .main-container .seconed-container form .email input:focus {
  outline: none;
}
.contact .main-container .seconed-container form .msg {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.contact .main-container .seconed-container form .msg textarea {
  margin-bottom: 2rem;
  background-color: #101e33;
  border: none;
  color: #8892b0;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.25rem;
  border: 1px solid rgba(100, 255, 218, 0.2117647059);
  resize: none;
}
.contact .main-container .seconed-container form .msg textarea:focus {
  outline: none;
}
.contact .main-container .seconed-container form .sent {
  color: rgba(0, 161, 0, 0.7411764706);
  border: none;
  text-align: center;
}
.contact .main-container .seconed-container form .err {
  color: rgba(227, 67, 67, 0.6);
  border: none;
  text-align: center;
}
.contact .main-container .seconed-container form label {
  text-align: start;
  margin: 0.5rem 0;
  color: #8892b0;
}
.contact .main-container .seconed-container form button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin-left: auto;
  border: 1px solid #64ffda;
  background-color: transparent;
  color: #64ffda;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.7s all ease;
}
.contact .main-container .seconed-container form button:hover {
  background-color: #133040;
}

@media screen and (max-width: 1024px) {
  .contact .main-container .seconed-container .contact-container {
    width: 100%;
    border: none;
    max-width: unset;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(100, 255, 218, 0.2117647059);
  }
  .contact .main-container .seconed-container form {
    width: 100%;
    max-width: 669px;
    margin-left: 0;
    padding-left: 0;
    margin: auto;
  }
}
@media (max-width: 668px) {
  .contact {
    width: 100%;
  }
  .contact .main-container .seconed-container .contact-container {
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
  .contact .main-container .seconed-container form {
    padding: 0;
  }
  .contact .main-container .seconed-container form .name, .contact .main-container .seconed-container form .email {
    width: 100%;
  }
  .contact .main-container .seconed-container form button {
    margin: auto;
  }
}
footer {
  margin-top: 10rem;
  width: 100%;
  align-items: center;
  font-family: "Grape Nuts", cursive;
  box-shadow: 0px 5px 25px -5px rgba(0, 0, 0, 0.62);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;
  margin: auto;
}
footer .footer-container ul {
  list-style: none;
  display: flex;
  font-size: 1.2rem;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}
footer .footer-container h1 {
  color: #64ffda;
}

@media screen and (max-width: 1024px) {
  footer .footer-container {
    padding: 0 1rem;
  }
}
@media (max-width: 668px) {
  footer .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  footer .footer-container h1 {
    text-align: center;
  }
}/*# sourceMappingURL=index.css.map */