.about-me{
    width: 100%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    // min-height: 88vh;
    // // display: flex;
    // // flex-direction: column;
    // // justify-content: center;
    // margin-top: 2rem;

    // // min-height: 88vh;
    // // font-family: 'Roboto', sans-serif;
    // // text-align: center;
    // // display: flex;
    // // justify-content: center;
    // // align-items: center;
    
    // margin-bottom: 2rem;
    h1{
       color: $thered-color;
       margin: 1rem 0; 
       font-size: 1.7rem;
       span{
           color: $seconed-color;
       }
    }
    p{
        font-size: 1.3rem;
        color: $forth-color;
        line-height: 1.9rem;
        margin: 2rem 0;
        margin-top: 1rem;
    }
    h2{
        font-size: 1.3rem;
        color: $forth-color;
    }
    ul{
        list-style: none;
        color: $forth-color;
        margin: 1rem 0;
        width: fit-content;
        display: flex;
        width: 70%;
        flex-wrap: wrap;
        row-gap: 0.5rem;
        column-gap: 3rem;
        li{
            position: relative;
            width: 25%;
            &::before{
                content: "▹";
                color: $seconed-color;
                margin-right: 0.4rem;
            }
        }
    }
}

@include tablets{
    .about-me{        
        ul{
            width: 100%;

        }
    }
}
@include mobile{
    .about-me{
        ul{
            column-gap: 0;
            width: 100%;
            li{
                position: relative;
                width: 50%;
                font-size: 14px;
                &::before{
                    content: "▹";
                    color: $seconed-color;
                    margin-right: 0.4rem;
                }
            }
        }
    }
}